body > header {
	z-index: 10;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	nav.navbar {
		height: 100%;
		border: {
			radius: 0;
		};

		.nav-link {
			padding: {
				left: .425rem;
				right: .425rem;
			};

			&.active {
				color: $blue!important;
				border: 1px solid $blue;
			}
		}
	}
}