#home {
	color: white;
	z-index: 1;

	& > div {
		height: 100%;
		background: {
			image: url("../../images/steeltech_welcome.jpg");
		};
	}

	article {
		padding: 1.4rem;
		margin: {
			top: 2rem;
		};
		background: {
			color: rgba(0, 0, 0, 0.8);
		};
	}
}