body > main {
    .panel {
        //height: calc(100vh - 60px);
        height: 100vh;
        padding: {
            top: 60px;
        };
		background: {
			color: white;
		};
        
        & > div {
            padding: {
                top: 60px;
            };
            background: {
                size: cover;
                repeat: no-repeat;
            };
        }
    }
	
	@import "home";

	@import "news";

	@import "requirements";
	
	#applications {
		z-index: 4;
	}

	#flySafe {
		color: white;
        z-index: 5;

		& > div {
			height: 100%;
			background: {
				image: url("../../images/steeltech_flySafe.jpg");
			}
		}
	}
}