#news {
	color: black;
	z-index: 2;

	& > div {
		background: {
			color: white;
			/*image: url("../../images/eve-online-backgrounds_112515969_224.jpg");*/
		};
	}

	section {
		& > header {
			& > [class^="col-"] {
				height: 3.5rem;

				& > span {
					display: block;
					color: white;
					background: {
						color: black;
					};
					border: {
						right: 2.5rem solid $blue;
					};
					height: inherit;

					small {
						display: inline-block;
						float: left;
						height: inherit;
						color: black;
						background: {
							color: white;
						};
						font: {
							weight: 400;
						};
						padding: {
							top: 1rem;
							right: 0.5rem;
						};
					}

					span {
						padding: {
							top: .5rem;
							left: 1rem;
						};
						height: inherit;
						display: inline-block;
					}
				}
			}
		}
	}

	.row {
		margin: {
			bottom: 2rem;
		};
	}

	article {
		& > h2 {
			border: {
				left: 2.5rem solid $blue;
			};
			padding: {
				top: 0.4rem;
				bottom: 0.4rem;
				left: 1rem;
				right: 1rem;
			};
			background: {
				color: black;
			};
			color: white;

			small {
				float: right;
				font: {
					size: 60%;
				};
				line: {
					height: 2rem;
				};
			}
		}

		.readMore {
			float: right;
			background: {
				color: $blue;
			};
			color: white;
			padding: 0.4rem;
		}
	}
}