#requirements {
	color: black;
	z-index: 3;

	& > div {
		background: {
			image: url("../../images/steelwork_requirements.jpg");
		};
	}

	section {
		h1 {
			color: white;
			text-transform: uppercase;
			margin: {
				bottom: 2rem;
			};
		}

		ul {
			li {
				background: {
					color: white;
				};
				line: {
					height: 40px;
				};
				padding:{
					left: 1rem;
					right: 1rem;
				};
				position: relative;
				margin: {
					bottom: 1rem;
				}

				&::before {
					content: ">>";
					display: block;
					width: 40px;
					height: 40px;
					background: {
						color: $blue;
					};
					position: absolute;
					left: -40px;
					top: 0;
					color: white;
					text: {
						align: center;
					};
				}
			}
		}
	}
}